* {
  font-family: monospace, sans-serif;
  font-size: 20;
  
  background-color: #f0f0f0;
}

p{
  font-size: 50 ;
}
a{
  text-decoration: none;
}

button { 
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: gray;
}

#status {
  margin-top: 20px;
  font-size: 24px;
}
